.TLC{
  margin-inline: 20px;
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */

}

.task-list {
  display: flex;
  justify-content:space-evenly;
}
  
.task-collumn {
  width: 33.3%;
  margin: 10px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
  